.header {

    background-color: #20303c;
    color: white;
    box-shadow: 0 0 10px #ddd;

}

.header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}

a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    position: relative;
    padding: 0 30px;
}

.logo {
width: 300px;
height: 90px;
background-color: yellow;
transform: translate(-62px , 0px);
    
}

.main-nav {

    display: flex;

}

a:hover {
color: yellow;
  
}


