.container {

    display: flex;

}

.section {

    width:900px;
    height: 100px;
    background-color: #f3f3f3;
    transform: translate(-5px , 29px);
    height: 470px;

}

img {
    width:500px;
    transform: translate(730px, -460px);
}

.paragraph {

    color:#20303c;
    font-size: 50px;
    transform: translate(30px ,20px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.bold {
    width: 100px;
    height: 10px;
    background-color: yellow;
    justify-content: center;
    display: flex;
    transform: translate(34px,-15px);
}

.text {

    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    
}

.test {

    background-color: yellow;
    width: 1225px;
    height: 200px;
    transform: translate(0px , -520px);

}

.one {

    color: #20303c;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(200px , 30px);

}

.two {

    color: #20303c;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform: translate(200px , 10px);

}

.three {

    color: grey;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform: translate(400px , -150px);
}

.four {

    color: #20303c;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(500px , -293px);

}

.five {

    color: #20303c;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform: translate(500px , -315px);

}

.six {

    color: grey;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform: translate(700px , -473px);
}

.seven {
    color: #20303c;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(780px , -620px);

}

.eight {
    color: #20303c;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform: translate(775px , -640px);


}


.nine {
    color: grey;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform: translate(1000px , -800px);

}

.ten {
    color: #20303c;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(1100px , -945px);

}

.eleven {
    color: #20303c;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform: translate(1090px , -965px);
}

