h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #20303c;
  text-align: center;
  transform: translate(0px , -470px);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    transform: translate(0px , -400px);

}

.bold {
    width: 100px;
    height: 10px;
    background-color: yellow;
    justify-content: center;
    display: flex;
    transform: translate(570px,-500px);
}

img {

    border: salmon solid 2px;

    margin-left: 15px;
    margin-top: 15px;

}
