<p class="main">CONTACT</p>
<div class="bold"></div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.3143337036126!2d28.853517084447983!3d40.99649272809858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa4a92c7c0001%3A0x9767bac9c01b9391!2zc3BoZXJlIGNvbnN0cnVjdGlvbiBrw7zDp8O8a8OnZWttZWNl!5e0!3m2!1sar!2seg!4v1640954512889!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<div class="div-one">
    <h3 class="inquiries">Inquuiries</h3>
    <p>For any inquiries, questions or commendations, <br>
    please call: 123-456-7890 or fill out the following form</p>
</div>

<div class="div-two">

    <h3 class="inside">Head Office</h3>
<p >500 Terry Francois Street <br>

    San Francisco, CA 94158 <br>
    
     
    
    info@mysite.com <br>
    
    Tel: 123-456-7890 <br>
    
    Fax: 123-456-7890</p>

</div>
