h1 {

    font-size: 50px;
    justify-content: center;
    text-align: center;
    color: #20303c;
    font-family: Arial, Helvetica, sans-serif;

}

.bold {
    width: 100px;
    height: 10px;
    background-color: yellow;
    justify-content: center;
    display: flex;
    transform: translate(520px,-15px);
}

img {
justify-content: space-between;
 padding: 40px 15px ;
 align-items: center;
transform: translate(75px,0px);

}

h2 {
    color: #20303c;
}

.hook {
 
display: flex;
font-family: Arial, Helvetica, sans-serif;


}

.dev-one {
    padding: 0px 50px;
   transform: translate(90px , -40px);
   background-color: #f3f3f3;
   width: 300px;
   text-align: justify;
   text-justify: inter-word;
}

.dev-two {
    padding: 0px 50px;
    transform: translate(120px , -40px);
    background-color: #f3f3f3;
    width: 300px;
    text-align: justify;
    text-justify: inter-word;
}

.dev-three {
    padding: 0px 50px;
    transform: translate(150px , -40px);
    background-color: #f3f3f3;
    width: 300px;
    text-align: justify;
    text-justify: inter-word;
}
